.person-list {
	margin-top: 110px;
	width: 65%;

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;

		Input {
			max-width: 700px;
			margin-bottom: 0.7rem;
			height: 48.8px;

			+ span {
				font-size: 0.78rem;
				margin: -0.4rem auto 0.7rem;
			}
		}

		#biography {
			resize: none;
			margin-bottom: 0.8rem;
			height: 250px;
		}

		Button {
			display: flex;
			justify-content: center;
			font-family: 'Nunito', serif;
			font-weight: 600;
			font-size: 19px;
			letter-spacing: 0.1rem;
			padding: 7px 18px;
			margin: 10px;
			color: #fceddc;
			background: #c06b0a;
		}
	}

	.form {
		&__controls {
			width: 380px;

			.text,
			.file {
				width: 100%;
				margin: 12px 0;
			}

			.text {
				span {
					width: 100%;
				}

				&:first-child {
					margin-top: 0;
				}
			}

			.file {
				.placeholder {
					position: relative;
					top: 22px;
					left: 11px;
				}

				#image {
					font-size: 18px;
				}

				.fileError {
					width: 100%;
					margin-top: 49px;
				}
			}
		}
	}

	.controls {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__inputs {
			display: flex;
			flex-wrap: wrap;
			width: 88%;
			align-items: center;
			justify-content: center;

			.file {
				#image0 {
					margin-top: -63px;
					margin-right: -8px;
				}
			}

			.text {
				width: 41%;
				margin: 0 auto 12px;
			}
		}

		.textarea {
			width: 80%;
		}
	}
}
