.person-loader {
	.Center {
		margin-top: 250px;
	}
}

.person {
	margin-top: 170px;

	.general-info {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 94%;
		margin: 0 auto 35px;
		padding: 40px 20px 30px;
		background: #9012c533;
		box-shadow: 10px 0 20px 5px rgb(0 0 0 / 33%);

		.action-buttons {
			opacity: 1;
			animation: none;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			bottom: 25px;

			&__delete-icon,
			&__update-icon {
				.update {
					background: orange;
					min-width: 55px;
					font-size: 36px;
					padding: 0 11px;
				}

				.delete {
					background: red;
					min-width: 37px;
					font-size: 37px;
					padding: 0 12px;
				}
			}
		}

		.person-bio {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;

			&__photo {
				width: 300px;
				margin-bottom: 8px;
				border-radius: 24px;
			}

			&__name {
				font-size: 42px;
				margin-bottom: 12px;
			}

			&__biography {
				width: 80%;
				font-size: 18px;
				text-align: center;
			}
		}
	}

	.movies-section {
		margin-bottom: 85px;

		.buttons {
			display: flex;
			justify-content: space-evenly;
		}

		&__role {
			font-size: 21px;
			border-radius: 0px;
			padding: 13px 25px;

			&_actor {
				background: orange;
			}
			&_director {
				background: purple;
			}
		}

		.AllMovies {
			min-height: 100%;

			ul {
				li {
					margin-top: -10px;
				}
			}
		}
	}
}
