.filmCatalog {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: calc(5rem + 106px) auto 4rem;
	width: 80%;
	height: 100%;
	flex-wrap: wrap;

	.grade {
		transform: rotate(270deg);
		font-size: 30px;
		padding: 10px 32px;
		position: absolute;
		left: -57px;
		top: 50%;
		letter-spacing: 10px;
		transition: 0.3s ease;
		text-decoration: none;
		box-shadow: 1px 5px 10px -5px black;
		cursor: pointer;
		font-weight: bold;
		color: #230236;
		background-color: #eedeff;

		&:hover {
			transition: 0.3s ease;
			color: #230236;
			background-color: #d2b9e1;
			transform: rotate(275deg);
		}
	}

	.collection {
		margin-left: 50px;
	}

	.selectWrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: -1rem;

		.action-buttons {
			animation: none;
			opacity: 1;
			display: flex;
			align-items: center;

			.select {
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				margin: 0 5px 0 0;
			}

			&__update-icon {
				.submit {
					margin: 7px;
					min-width: 60px;
					font-size: 36px;
					padding: 3px 11px;
				}

				.update {
					background: orange;
				}
			}
		}

		.category {
			display: flex;
			font-size: 1.8rem;
			color: #fceddc;
			letter-spacing: 0.5rem;
		}
	}

	.myFilms {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.bottomOfCard {
			margin-top: 1.6rem;
			width: 29%;

			.onAdd {
				width: 42%;
				background: #b81818;

				&:hover {
					background: #921313;
				}
			}

			.onBuy {
				width: 53%;
			}
		}
	}
}
