.reviewWrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 2.2rem auto 2rem;
	width: 100%;

	.reviewCard {
		width: 70%;
		padding: 11px 12px;
		border: 3.5px inset #f7d9a8;
		border-radius: 20px;
		margin-bottom: 30px;
		font-size: 16px;
		cursor: default;
		height: 100%;

		.reviewHead {
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;

			.leftSide {
				display: flex;
				align-items: center;

				.reviewAuthorName {
					cursor: pointer;
					font-size: 19px;
					font-weight: bold;
					text-decoration: none;

					.critic {
						margin-right: 1px;
					}
				}

				.user-rating {
					font-size: 17px;
					display: flex;
					margin-left: 7px;
					align-items: center;

					.rating {
						margin-top: -8px;
					}

					.review-rating {
						opacity: 0.95;
						font-size: 21px;
						padding: 1px 9px;
						border: 3px ridge #dfc101e8;
						border-radius: 32%;
					}
				}
			}

			.rightSide {
				display: flex;
				flex-direction: row;

				.reviewDate {
					color: #fafafa;
					margin-right: 1.2rem;
				}

				.delete {
					cursor: pointer;
					margin-top: -0.6rem;
					font-size: 1.5rem;
					color: #fa2307d5;
					transition: 0.3s;

					&:hover {
						color: #fa230793;
						transform: scale(0.98);
						transition: 0.3s;
					}

					&:active {
						transform: scale(0.83);
					}
				}
			}
		}

		.reviewsTitle {
			margin: -10px auto 0.5rem;
			color: #f7d5ba;
			font-size: 20px;
			font-style: italic;
			font-weight: bold;

			Input {
				margin-left: 0px;
				transition: 0.3s;

				&:disabled {
					background: transparent;
					border: none;
					border-radius: 0;
					font-size: 20px;
					font-style: italic;
					font-weight: bold;
					color: #f7d5ba;
					margin: 0;
					letter-spacing: 5px;
					padding: 0;
					height: auto;
					margin-left: 10px;
					max-width: 80%;
					transition: 0.3s;
				}
			}
		}

		.reviewText {
			margin-bottom: 10px;

			Textarea {
				width: 96%;
				transition: 0.3s;

				&:disabled {
					background: transparent;
					border: none;
					border-radius: 0;
					font-size: 16px;
					color: #f7e7c9;
					margin: 0;
					padding: 0;
					height: inherit;
					transition: 0.3s;
					// max-height: 1000rem;
					// overflow: hidden;
				}
			}
		}

		.textarea {
			height: 70px;
			padding-right: 12px;
		}

		.reviewEdit {
			display: flex;
			justify-content: flex-end;
			margin-top: 10px;

			div {
				cursor: pointer;
				display: flex;
				justify-content: flex-end;
				text-decoration: none;
				font-style: italic;
				font-size: 18px;
				transition: 0.3s;

				&:hover {
					opacity: 0.725;
					transform: scale(0.99);
					transition: 0.3s;

					span {
						transition: 0.3s;
					}
				}

				span {
					display: flex;
					color: #fafafa;
					transform: rotate(77deg);
					font-size: 20px;
					margin-top: -0.3rem;
					transition: 0.3s;
				}
			}
		}

		.reviewSave {
			margin-top: 34px;
		}
	}
}

.review-enter {
	opacity: 0;
}

.review-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.review-exit {
	opacity: 1;
	display: none;
}

.review-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
