.registration {
	&__buttons {
		display: flex;
		align-items: center;
	}

	.buttons {
		width: 388px;
		display: flex;
		justify-content: space-around;

		&__back {
			text-decoration: none;
			text-align: center;
			margin-right: 10px;
			width: 32%;
			font-size: 19px;
			padding: 6px 3px;
			border-radius: 10px;
			background: #970697;
			color: #fceddc;

			&:hover {
				background: #ad04ad;
				transition: 0.3s;
			}
		}

		&__success {
			width: 65%;
			font-size: 19px;
			padding: 9px 3px;
			color: #fceddc;
			background: #018522;
			transition: 0.3s;

			&:hover {
				background: #019c28;
				transition: 0.3s;
			}

			&:disabled {
				background: #ccc;
				color: #000;
				cursor: not-allowed;

				&:hover {
					background: #ccc;
				}
			}
		}
	}
}
