@mixin flexible() {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 4rem;
	margin-top: -1.7rem;
}

.movie-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 0rem;

	h2 {
		margin-bottom: 1.5rem;
		color: #fceddc;
	}

	.movie-form {
		margin-top: 0.8rem;
		@include flexible();

		> div {
			width: 100%;
			@include flexible();
			margin-bottom: 2rem;
		}

		&__creation-title {
			font-size: 35px;
			font-weight: normal;
			color: #c76c04;
		}

		&__controls {
			width: 80%;
			@include flexible();
			align-items: normal;
			margin-right: -7rem;

			Input {
				width: 22rem;
				height: 48.8px;
				margin: 0 1.2rem 1.4rem 1.2rem;

				+ span {
					font-size: 0.78rem;
					margin: -18px auto 15px;
				}
			}
		}

		&__buttons {
			@include flexible();
			margin-bottom: 2rem;

			Button:nth-child(1) {
				margin-right: 1rem;
				width: 12.5%;
				font-size: 20px;
				padding: 10px 1px;
				color: #fff4e8;
				background: #970697;
				transition: 0.3s;

				&:hover {
					background: #ad04ad;
					transition: 0.3s;
				}

				&:disabled {
					background: #ccc;
					color: #000;
					cursor: not-allowed;

					&:hover {
						background: #ccc;
					}
				}
			}

			Button:nth-child(2) {
				width: 15%;
				font-size: 20px;
				padding: 10px 3px;
				margin-right: 1rem;
				color: #fff4e8;
			}
		}

		.color,
		.time {
			cursor: default;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
			width: 22rem;
			height: 48.8px;
			color: #a89176;
			background-color: #fafafa;
			border: 3px solid #c76c04;
			border-radius: 10px;
			margin: 0 1.2rem 1.4rem 1.2rem;

			> div {
				display: flex;
				width: 82%;
				font-size: 17px;
				padding: 9px 7px;
			}

			#primaryPageColor,
			#secondaryPageColor {
				cursor: pointer;
				padding: 2px;
				margin: -3px -2px 0 2px;
				display: flex;
				width: 28%;
				background: transparent;
				border: none;

				&::-webkit-color-swatch {
					border: 10px solid #fafafa;
					border-radius: 10px;
				}
			}
		}

		.time {
			> div {
				margin-left: 5.5px;
			}

			#duration {
				cursor: pointer;
				margin: -3px 0 0;
				display: flex;
				width: 40%;
				background: transparent;
				border: none;

				+ span {
					margin: 3px 0 0 0;
					display: block;
					width: 22rem;
				}
			}
		}
	}
}
