.grade-history-page {
	min-height: 70vh;
	min-width: 94vw;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin: 190px auto 0;

	&__button {
		background: orange;
		font-size: 21px;
		margin-bottom: 45px;
		padding: 10px 22px;
	}
}
